h1{
    
    margin-left: 150px;
    margin-right: 150px;

    color: black;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
} 

h2{

    margin-left: 150px;
    margin-right: 150px;

    color: black;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
}

p{
    
    margin-left: 150px;
    margin-right: 150px;
    color: black;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
}

#textbox {
    display: inline-block;
    position: relative;
    float: left;
    width: 650px;
    margin: 30px;
}

/*
 don't think this class (?) is necessary since it's just h2
#boardMembers {
    position: relative;
    float: left;
}
*/


#name {
    display: inline-block;
    position: relative;
    margin: 50px;
    float: left;
}

.lineBreak {
    display: inline-block;
    position: relative;
    float: left;
    height: 10px
    width: 100%;
}

.b1 {
    display: inline-block;
    position: relative;
    margin: 30px;
    float: left;
    width: 650px;
    height: 500px;
    background-color: lightgrey;
}

.b2 {
    display: inline-block;
    position: relative;
    margin: 30px;
    float: left;
    width: 650px;
    height: 300px;
    background-color: lightgrey;
}

.b3 {
    display: inline-block;
    position: relative;
    margin: 50px;
    float: left;
    width: 100px;
    height: 100px;
    background-color: lightgrey;
}